.submit
{
    margin: 3px !important;
}

#formIntro
{
    padding-top: 50px;
    padding-bottom: 10px;
}

#inputButtons
{
    padding-top: 15px !important;
}

#select
{
    padding-top: 15px !important;
}