#loader
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 275px;
}

#resultsError
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}
        
.pagination
{
  padding-top: 40px;
}

ul
{
  display: flex;
  justify-content: center;
}