#stream
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#loader
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 275px;
}

#streamError
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 275px;
}

#streamButtons
{
    padding-top: 8px !important;
}